#WorkoutBox {
  background-color: var(--color-base-200);
  margin: calc(var(--spacing) * 2);
  height: calc(var(--spacing) * 70);
  width: calc(var(--spacing) * 70);
  border-radius: var(--radius-lg);
  color: var(--color-base-content);
  text-wrap: wrap;
  text-align: center;
}
