/* please put more css in here D: */

#WorkoutBox {
  background-color:#1f183b;
  margin: calc(var(--spacing) * 2);
  height: calc(var(--spacing) * 70);
  width: calc(var(--spacing) * 70);
  border-radius: var(--radius-lg);
  color: #aa80f2;
  text-wrap: wrap;
  text-align: center;
}
