.calendar {
  max-width: 1200px;
  margin: 20px auto;
  font-family: sans-serif;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendarGuts {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day-names {
  text-align: center;
}

.day,
.blank {
  padding: 8px;
  height: 120px;
  border: 1px solid #eee;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day:hover {
  border: 2px, solid, yellow;
}

.day-names {
  font-weight: bold;
  background-color: black;
}

.selected {
  background-color: violet;
  color: black;
}
